@import "styles/colors.scss";
@import "styles/mixins.scss";

#legend-reach {

  font-size: 14px;

  a {
    text-transform: uppercase;
    color: $font-color-3;
    font-weight: bold;
  }

  p {
    font-family: 'Libre Baskerville', serif;
  }

  > ul {
    li:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  ul.scale, ul.exceptions {
    position: relative;
  }

  ul.scale {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5em;

    li {
      height: 10px;
      width: 68px;
      margin-bottom: 1em;

      span {
        position: relative;
        top: 2px;
        left: 50%;
        display: block;
        text-align: center;
      }

      @each $program, $colors in $choroColors {
        @for $i from 1 through 5 {
          &.program-#{$program}.bucket-#{$i} {
            background-color: nth($colors, $i);
          }
        }
      }
    }

    &::before {
      content: "0";
      position: absolute;
      top: 15px;
      left: -34px;
      display: block;
      width: 68px;
      text-align: center;
    }

    li::before, &::after {
      display: block;
      content: "";
      height: 14px;
      border-left: 1px solid $accent-color-5;
    }
  }

  ul.exceptions {
    color: $font-color-1;
    li {
      display: flex;
      align-items: flex-start;
    }

    li::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 15px;
      border: 1px solid $accent-color-5;
      margin-right: 0.4em;
    }

    li.no-data::before {
      background-color: rgba(136, 136, 136, 0.6);
    }

    li.care-member::before {
      background-image: url(~images/stripes-pattern.png);
    }

    span {
      line-height: 17px;
      margin-right: 1em;
    }
  }

 }
