$programColors: (
  overall: #F46509,
  hum: #DB1469,
  wee: #129EAD,
  srmh: #FF595A,
  lffv: #FFB403,
  fnscc: #99B74D,
);

$bg-color-1: #FFFFFF;
$bg-color-2: #FA771D;
$bg-color-3: #F2F2F2;

$accent-color-1: #FDD70F;
$accent-color-2: #727272;
$accent-color-3: #959595;
$accent-color-4: #DADADA;

$font-color-1: #444444;
$font-color-2: $bg-color-1;
$font-color-3: $bg-color-2;
$font-color-4: #FED6BA;

$variable-color-1: #F46509;
$variable-color-2: #DB1469;
$variable-color-3: #129EAD;
$variable-color-4: #FF595A;
$variable-color-5: #FFB403;
$variable-color-6: #99B74D;
