$programColors: (
  overall: #F9781C,
  hum: #DB1469,
  wee: #129EAD,
  srmh: #FF595A,
  lffv: #FFB403,
  fnscc: #99B74D,
);

$bg-color-1: #FFFFFF;
$bg-color-2: map-get($programColors, "overall");
$bg-color-3: #F2F2F2;

$accent-color-1: #FDD70F;
$accent-color-2: #727272;
$accent-color-3: #959595;
$accent-color-4: #DADADA;
$accent-color-5: #E3E3E3;
$accent-color-6: $bg-color-2;

$font-color-1: #444444;
$font-color-2: $bg-color-1;
$font-color-3: $bg-color-2;
$font-color-4: #FED6BA;
