$programColors: (
  overall: #F9781C,
  hum: #DB1469,
  wee: #129EAD,
  srmh: #FF595A,
  lffv: #FFB403,
  fnscc: #99B74D,
);

$choroColors: (
  overall: #FFD8BD #FEBB8B #FF984E #F9781C #A03B0D,
  hum: #F8D0E1 #F1A1C3 #E972A5 #E24387 #DB1469,
  wee: #D2EFF2 #93EAF3 #57D0DD #129EAD #005760,
  srmh: #FFDEDE #FFBCBD #FF9B9C #FF7A7B #FF595A,
  lffv: #FFF0CC #FFE19A #FFD267 #FFC335 #FFB403,
  fnscc: #EBF1DB #D6E2B7 #C2D494 #ADC570 #99B74D,
);

$bg-color-1: #FFFFFF;
$bg-color-2: map-get($programColors, "overall");
$bg-color-3: #F2F2F2;

$accent-color-1: #FDD70F;
$accent-color-2: #727272;
$accent-color-3: #959595;
$accent-color-4: #DADADA;
$accent-color-5: #E3E3E3;
$accent-color-6: $bg-color-2;

$font-color-1: #444444;
$font-color-2: $bg-color-1;
$font-color-3: $bg-color-2;
$font-color-4: #FED6BA;
