@import "colors.scss";

body {
  background-color: $bg-color-1;
  color: $font-color-1;
  font-family: ITC Officina Sans Std, Helvetica;
}

p {
  margin-bottom: 1em;
}

// hide CARTO attribution image
img[title=CARTO] {
  display: none !important;
}
