@import "styles/colors.scss";
@import "styles/values.scss";
@import "styles/mixins.scss";

#story {

  @media #{$mq-desktop} {
    display: flex;
    flex-direction: column;
  }

  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(209, 203, 203, 0.44);

  .show-mobile {
    @media #{$mq-desktop} {
      display: none;
    }
  }

  .show-desktop {
    @media #{$mq-mobile} {
      display: none;
    }
  }

  ul.mobile-title {
    font-family: Libre Baskerville, serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    li {
      min-height: 40px;
      line-height: 40px;
    }
  }

  div.story-hide {
    @include centered-background-image("~images/arrow-left.png");
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .close-button {
    @include close-button;
    top: 40px;
    right: -16px;
  }

  .img-wrapper {
    @media #{$mq-desktop} {
      flex-shrink: 0;
    }
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    img {
      position: absolute;
      top: -180px;
      left: -40px;
    }
  }

  .story-content {
    hr {
      margin: 20px 0 20px 0;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-weight: bold;
      font-size: 14px;
    }

    h3 {
      font-size: 14px;
      color: $font-color-5;
      margin-bottom: 1em;
    }

    @media #{$mq-desktop} {
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .content {
      @media #{$mq-desktop} {
       padding: 32px 40px 20px;
      }
      @media #{$mq-mobile} {
       padding: 32px 10px 20px;

      }
    }

  }

}

