@import "styles/colors.scss";

#share {
  padding: 40px 60px;

  h1 {
    font-family: Libre Baskerville, serif;
    font-size: 36px;
  }

  hr {
    width: 17px;
    margin: 20px 0 40px 0;
    border: 1px solid $accent-color-6;
    height: 0;
  }

  .container {
    display: flex;
    align-items: flex-items;
  }

  textarea {
    font-family: ITC Officina Sans Std, Helvetica;
    border: 1px solid $accent-color-6;
    resize: none;
    margin-right: 1em;
    width: 600px;
    box-sizing: border-box;
    height: 64px;
    line-height: 38px;
    padding: 12px 16px;
    font-size: 16px;
  }

}
