@import "styles/colors.scss";
@import "styles/mixins.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay-color;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: relative;
    background-color: $bg-color-1;
    color: $font-color-1;
    font-family: ITC Officina Sans Std, Helvetica;
  }

  .close-button {
    @include close-button;
    top: 40px;
    right: -16px;
   }

}

