@import "../../../styles/colors.scss";
@import "../../../styles/values.scss";

#leaflet {
  background-color: $bg-color-1;

  &.clickable {
    cursor: pointer;
  }

  .leaflet-control-attribution {
    display: none;
  }
}

#leaflet-custom-controls {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 10;
  background-color: $bg-color-1;
  box-shadow: 0 0 7px 0 rgba(209,203,203,0.44);
  padding: 2px;

  > div {
    width: 35px;
    height: 35px;
    border: 1px solid $accent-color-6;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  #leaflet-zoom-plus {
    margin-bottom: 10px;
    background-image: url(~images/plus.png);
  }

  #leaflet-zoom-minus {
    margin-bottom: 15px;
    background-image: url(~images/minus.png);
  }

  #leaflet-share {
    background-color: $bg-color-2;
    background-image: url(~images/share.png);
  }

}


