@import "styles/colors.scss";

#about {
  display: flex;
  align-items: flex-start;

  .right {

    padding: 80px 75px;

    img {
      margin-bottom: 3em;
    }

    p:not(:last-child) {
      margin-bottom: 2em;
    }

  }


}
