@import "../../../styles/colors.scss";

#about {
  display: flex;
  align-items: flex-start;

  .left {
  }

  .right {

    padding: 80px 75px;

    img {
      margin-bottom: 3em;
    }

    p:not(:last-child) {
      margin-bottom: 2em;
    }

    button {
      font-family: ITC Officina Sans Std, Helvetica;
      font-size: 16px;
      border: 1px solid $bg-color-2;
      background-color: $bg-color-2;
      color: $font-color-2;
      padding: 12px 16px;
      text-transform: uppercase;
      cursor: pointer;
    }

  }


}
