@import "styles/colors.scss";
@import "styles/values.scss";

#map-area {

  #legend {

    @media #{$mq-mobile} {
      display: none;
    }

    position: absolute;
    bottom: 40px;
    right: 20px;

    border: 1px solid $accent-color-5;
    box-shadow: 0 0 7px 0 rgba(209,203,203,0.44);
    background-color: white;
    padding: 12px 20px 12px 12px;
    font-size: 14px;

    &.impact {
      > ul {
        > li:nth-child(odd) {
          font-size: 14px;
          margin-bottom: 5px;
          font-family: Libre Baskerville, serif;
        }
        > li:nth-child(2) {
          margin-bottom: 10px;
        }
        > li {
          > ul {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            li {
              margin-left: 5px;
            }
          }
        }
      }
    }

    &.choropleth {

      a {
        text-transform: uppercase;
        color: $font-color-3;
        font-weight: bold;
      }

      p {
        font-family: 'Libre Baskerville', serif;
      }

      > ul {
        li:not(:last-child) {
          margin-bottom: .5em;
        }
      }

      ul.scale, ul.exceptions {
        position: relative;
      }

      ul.scale {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5em;

        li {
          height: 10px;
          width: 68px;
          margin-bottom: 1em;

          span {
            position: relative;
            top: 2px;
            left: 50%;
            display: block;
            text-align: center;
          }

          @each $program, $colors in $choroColors {
            @for $i from 1 through 5 {
              &.program-#{$program}.bucket-#{$i} {
                background-color: nth($colors, $i);
              }
            }
          }
        }

        &::before {
          content: "0";
          position: absolute;
          top: 15px;
          left: -34px;
          display: block;
          width: 68px;
          text-align: center;
        }

        li::before, &::after {
          display: block;
          content: "";
          height: 14px;
          border-left: 1px solid $accent-color-5;
        }
      }

      ul.exceptions {
        color: $font-color-1;
        li {
          display: flex;
          align-items: flex-start;
        }

        li::before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 15px;
          border: 1px solid $accent-color-5;
          margin-right: 0.4em;
        }

        li.no-data::before {
          background-color: rgba(136, 136, 136, 0.6);
        }

        li.care-member::before {
          background-image: url(~images/stripes-pattern.png);
        }

        span {
          height: 17px;
          line-height: 17px;
          margin-right: 1em;
        }
      }
    }

  }

  #about-data {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $bg-color-1;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
    color: $font-color-3;
    height: 20px;
    box-shadow: 0 -5px 10px $bg-color-1;
    text-align: right;
    div {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;

      img {
        margin-left: 5px;
        margin-right: 20px;
        height: 14px;
      }

      span {
        position: relative;
        top: 3px;
      }
    }
  }

}
