@import "../../../styles/colors.sass"

.custom-radio
  display: flex
  align-items: center

  input[type="radio"]
    display: none

  label
    color: $accent-color-3
    display: inline-block
    margin-left: 5px
    cursor: pointer

  div.fake-radio
    display: inline-block
    width: 14px
    min-width: 14px
    height: 14px
    border-radius: 50%
    border: 1px solid $accent-color-3
    background-color: transparent
    vertical-align: middle
    cursor: pointer


  input[type="radio"]:checked + div.fake-radio
    background-color: $accent-color-3
